@font-face {
  font-family: "merriweather_sansregular";
  src:
    url("./fonts/merriweathersans-regular-webfont.woff2") format("woff2"),
    url("./fonts/merriweathersans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "merriweather_sansbold";
  src:
    url("./fonts/merriweathersans-bold-webfont.woff2") format("woff2"),
    url("./fonts/merriweathersans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --main-bg-color: rgb(255, 255, 255);
  --card-border-radius: 5px;
  --main-margin: 0 10%;
  --center-max-width: 900px;
  --color-linen: #ffede1;
  --color-ivory: #f9fbf2;
  --color-light-cyan: #d7f9ff;
  --color-jordy-blue: #afcbff;
  --color-oxford-blue: #0e1c36;
}

html,
body {
  height: 100vh;
  width: 100%;
  /* width: 100vw; */
  font-family:
    "merriweather_sansregular", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Reset button look */
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input[type="text"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto;
}

.header {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-oxford-blue);
}

.header-items {
  color: white;
  width: 80%;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 1fr;
  gap: 10px;
}

.location-search {
  justify-self: end;
}

.header-items .location-search .location-display {
  font: "merriweather_sansbold";
}

.header-items .location-search #location {
  /* display: none; */
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding-left: 2px;
  color: gray;
}

.header-items .location-search button {
  /* display: none; */
  background-color: rgb(176, 176, 176);
  border-radius: 5px;
  color: black;
  /* padding: 2px; */
}

.main-container .weather .cards-container {
}

.cards-container .card {
}
